doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Nodejs
  link(rel='stylesheet', href='AdminLTE/plugins/fontawesome-free/css/all.min.css')
  link(rel='stylesheet', href='AdminLTE/dist/css/adminlte.min.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
body.layout-top-nav
  .wrapper.layout-top-nav
    nav.main-header.navbar.navbar-expand-md.navbar-light.navbar-white
      .container
        a.navbar-brand(href='index3.html')
          img.brand-image.img-circle.elevation-3(src='AdminLTE/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light My Project
        button.navbar-toggler.order-1(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse.order-3
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='index3.html') Home
            li.nav-item
              a.nav-link(href='#') Contact
            li.nav-item.dropdown
              a#dropdownSubMenu1.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
              ul.dropdown-menu.border-0.shadow(aria-labelledby='dropdownSubMenu1')
                li
                  a.dropdown-item(href='#') Some action 
                li
                  a.dropdown-item(href='#') Some other action
                li.dropdown-divider
                li.dropdown-submenu.dropdown-hover
                  a#dropdownSubMenu2.dropdown-item.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Hover for action
                  ul.dropdown-menu.border-0.shadow(aria-labelledby='dropdownSubMenu2')
                    li
                      a.dropdown-item(tabindex='-1', href='#') level 2
                    li.dropdown-submenu
                      a#dropdownSubMenu3.dropdown-item.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') level 2
                      ul.dropdown-menu.border-0.shadow(aria-labelledby='dropdownSubMenu3')
                        li
                          a.dropdown-item(href='#') 3rd level
                        li
                          a.dropdown-item(href='#') 3rd level
                    li
                      a.dropdown-item(href='#') level 2
                    li
                      a.dropdown-item(href='#') level 2
          form.form-inline.ml-0.ml-md-3
            .input-group.input-group-sm
              input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
              .input-group-append
                button.btn.btn-navbar(type='submit')
                  i.fas.fa-search
        ul.order-1.order-md-3.navbar-nav.navbar-no-expand.ml-auto
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.fas.fa-comments
              span.badge.badge-danger.navbar-badge 3
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              a.dropdown-item(href='#')
                .media
                  img.img-size-50.mr-3.img-circle(src='AdminLTE/dist/img/user1-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | Brad Diesel
                      span.float-right.text-sm.text-danger
                        i.fas.fa-star
                    p.text-sm Call me whenever you can...
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
              .dropdown-divider
              a.dropdown-item(href='#')
                .media
                  img.img-size-50.img-circle.mr-3(src='AdminLTE/dist/img/user8-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | John Pierce
                      span.float-right.text-sm.text-muted
                        i.fas.fa-star
                    p.text-sm I got your message bro
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
              .dropdown-divider
              a.dropdown-item(href='#')
                .media
                  img.img-size-50.img-circle.mr-3(src='AdminLTE/dist/img/user3-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | Nora Silvester
                      span.float-right.text-sm.text-warning
                        i.fas.fa-star
                    p.text-sm The subject goes here
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
              .dropdown-divider
              a.dropdown-item.dropdown-footer(href='#') See All Messages
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.far.fa-bell
              span.badge.badge-warning.navbar-badge 15
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              span.dropdown-header 15 Notifications
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-envelope.mr-2
                |  4 new messages
                span.float-right.text-muted.text-sm 3 mins
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-users.mr-2
                |  8 friend requests
                span.float-right.text-muted.text-sm 12 hours
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-file.mr-2
                |  3 new reports
                span.float-right.text-muted.text-sm 2 days
              .dropdown-divider
              a.dropdown-item.dropdown-footer(href='#') See All Notifications
          li.nav-item
            a.nav-link(data-widget='control-sidebar', data-slide='true', href='#')
              i.fas.fa-th-large
    .content-wrapper
      .content-header
        .container
          .row.mb-2
            .col-sm-6
              h1.m-0.text-dark
                | Top Navigation 
                small Example 3.0
            .col-sm-6
              ol.breadcrumb.float-sm-right
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Layout
                li.breadcrumb-item.active Top Navigation
      .content
        block content
    aside.control-sidebar.control-sidebar-dark
      .p-3
        h5 Title
        p Sidebar content
    footer.main-footer
      .float-right.d-none.d-sm-inline
        | Anything you want
      strong
        | Copyright &copy; 2014-2019 
        a(href='https://adminlte.io') AdminLTE.io
        | .
      |  All rights reserved.
script(src='AdminLTE/plugins/jquery/jquery.min.js')
script(src='AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src='AdminLTE/dist/js/adminlte.min.js')
